*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}

ul,ol{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 786px;
  margin: 0 auto;
  padding: 0 15px;
}

.dark{
  background: #0C151D;
  color: white;
}
.light{
  background: gray;
  color: black;
}